/* Icons */

label i {
    color: #ee72a2;
    margin-right: 6px;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box > i:first-child {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #ee72a2;
    font-size: 14px;
}

.input-box input {
    padding-left: 40px;
    padding-right: 40px;
}

.password-eye {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #a477d1;
    cursor: pointer;
}

h3 i {
    color: #ee72a2;
    margin-right: 6px;
}

button i {
    margin-right: 6px;
}